<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projeto-claudiney/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="/projeto-claudiney/icon/logo_04.png" type="image/x-icon" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>Site Oxente</title>
    <script src="/projeto-claudiney/script.js"></script>
    
</head>

<body>


    <!--Cabeçalho-->
    <button id="toggle-theme" class="theme-toggle">🌙 Modo Escuro</button>


    <header class="header-container">
        <div class="header-bar">
            <img class="logo-art" src="/projeto-claudiney/icon/logo_04.png" alt="logo">
            <H1 class="nome-site">OXENTE!!!!</H1>
            <P class="text-inicio">Você achou que eu iria esquecer de você?</P>
        </div>

        <div class="icons-person">
            <a href="product2.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>
            </a>

            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
            </a>

            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                </svg>
            </a>
        </div>
    </header>

    <div class="search-bar-top">
        <form id="top-search-form" action="/search" method="get">
            <input type="text" id="top-search-input" name="q" placeholder="Pesquisar produtos, categorias, roupas..."
                aria-label="Pesquisar no site">
            <button type="submit" aria-label="Buscar">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </button>
        </form>
    </div>

    <nav>
        <hr>
        <ul class="nav-links">
            <li class="link"><a href="index.html">Pagina inicial</a></li>
            <li class="link1"><a href="maps.html">Localização</a></li>
            <li class="link2"><a href="#">Encomendas</a></li>
            <li class="link6"><a href="about.html">Sobre nós</a></li>
        </ul>
        <hr>
    </nav>

    <nav>
        <ul class="nav-links-down">
            <li class="link8">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-truck" viewBox="0 0 16 16">
                        <path
                            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
                    </svg>
                    <span>Acompanhe seu pedido</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
                        <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5z" />
                        <path
                            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1m-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1" />
                    </svg>
                    <span>Formas de Pagamento</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                        class="bi bi-headset" viewBox="0 0 16 16">
                        <path
                            d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" />
                    </svg>
                    <span>Suporte 24/7</span>
                </a>
            </li>
        </ul>
    </nav>


    <!--Banner principal-->
    <section class="banner">
        <img src="/projeto-claudiney/imgs/bolsa lateral bege e marrom.png" alt="Bolsa de palha marrom e bege.">

        <div class="text-banner">
            <h4>A queridinha dos turistas!!</h4>
            <h1 class="tittle-brown"><strong>Bolsa em palha feito a mão</strong></h1>
            <button class="button-details">VER DETALHES</button>
            <div>
    </section>

    <!--Banners menores-->
    <section class="container">
        <div class="banner-menor">
            <img src="/projeto-claudiney/imgs/bolsa lateral preta aracajuana.png"
                alt="Bolsa lateral - Noite aracajuana">
            <h2>Bolsa lateral - Noite aracajuana</h2>
            <button class="button-details">VER DETALHES</button>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/michila listrada passeio na sementeira.png" alt="Mochila tecido">
            <h2>Mochila tecido</h2>
            <button class="button-details" href="product1.html?id=1">VER DETALHES</button>
        </div>
    </section>

    <H1>Os mais vendidos</H1>


    <section class="list-product" id="produtos">
        <div>
            <img src="/projeto-claudiney/imgs/bolsa lateral bege e marrom.png" alt="">
            <h3>Bolsa lateral - bege e marrom</h3>
            <p>★★★★★</p>
            <h2>R$ 35,00</h2>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/bolsa lateral preta aracajuana.png" alt="">
            <h3>Bolsa lateral - preta noite aracajuana</h3>
            <p>★★★★★</p>
            <h2>R$ 50,00</h2>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/michila listrada passeio na sementeira.png" alt="">
            <h3>Mochila listrada - passeio na sementeira</h3>
            <p>★★★★★</p>
            <h2>R$ 60,00</h2>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/boneca de pano.png" alt="">
            <h3>Boneca de pano</h3>
            <p>★★★★★</p>
            <h2>R$ 30,00</h2>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/Lapis decorativo filhos de lampiao.png" alt="">
            <h3>Lápis decorativo</h3>
            <p>★★★★★</p>
            <h2>R$ 10,00</h2>
        </div>

        <div>
            <img src="/projeto-claudiney/imgs/canecas e portas copos personalizados.png" alt="">
            <h3>Canecas e portas copos personalizados</h3>
            <p>★★★★★</p>
            <h2>R$ 20,00</h2>
        </div>
    </section>


    <button class="mais-produtos">MAIS PRODUTOS</button>

    <section class="newsletter-section">
        <div class="newsletter-text">
            <h1 class="newsletter-tittle">QUER RECEBER AS NOSSAS OFERTAS?</h1>
            <p class="newsletter-subtitle">Se inscreva para receber as nossas ofertas.</p>
        </div>

        <div class="newsletter-form-container">
            <form action="/pesquisa" method="get" class="newsletter-form">
                <input type="email" id="barra-email" name="email" placeholder="Digite seu email" required>
                <button type="submit" class="button-newsletter-send">Enviar</button>
            </form>
        </div>
    </section>


    <section class="banner-grande">
        <img src="/projeto-claudiney/imgs/pasadeira.png" alt="">
        <div class="conteudo">
            <h2>Passadeira- Flor do cajueiro</h2>
            <p class="promo">R$50,00</p>
            <p><s>R$75,00</s></p>
            <P>Feito a mão, a pasadeira é uma opção elegante
                para sua mesa posta!!!</P>
            <button class="button-details">VER DETALHES</button>


        </div>
    </section>


    <footer class="footer">
        <div class="footer-container">

            <div class="footer-column logo-info">
                <h2>OXENTE!!!!</h2>
                <p>Você achou que eu iria esquecer de você?</p>
                <p class="contact-info"><strong>FEIRA DO TURISTA</strong></p>
                <p class="contact-info"><strong>(79) 99833-4897</strong></p>

                <div class="icons-redes">
                    <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <div class="footer-column quick-links">
                <h3>Navegação</h3>
                <ul>
                    <li><a href="index.html">Página inicial</a></li>
                    <li><a href="about.html">Sobre nós</a></li>
                    <li><a href="#">Encomendas</a></li>
                    <li><a href="#">Mais Produtos</a></li>
                    <li><a href="#">Suporte 24/7</a></li>
                </ul>
            </div>

            <div class="footer-column footer-eventos">
                <h3>EVENTOS NA ORLA DA ATALAIA</h3>
                <div class="event-item">
                    <p class="event-date">17 de Outubro</p>
                    <p class="event-title">Vila da Criança</p>
                </div>
                <hr>
                <div class="event-item">
                    <p class="event-date">18 de Outubro</p>
                    <p class="event-title">Vila da Criança</p>
                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 OXENTE!!!!. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="script.js"></script>
    <script>
        const btnToggle = document.getElementById("toggle-theme");

        btnToggle.addEventListener("click", function () {
            document.body.classList.toggle("dark-mode");

            // Altera o texto do botão
            if (document.body.classList.contains("dark-mode")) {
                btnToggle.textContent = "☀️ Modo Claro";
            } else {
                btnToggle.textContent = "🌙 Modo Escuro";
            }
        });
    </script>

</body>

</html>